extends layout

block styles
    link(rel="stylesheet", href="/css/css-circular-prog-bar.css")
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")

block content
    .message-area
        -if(login){
            .success-msg
                i.fa.fa-times.close-success-msg
                ul 
                    li به پنل مدیریت خوش آمدید
        -}
    a.upload-log-btn آپلود لاگ دستگاه ها

    .cards-area
        -for(var i=0; i<users.length; i++){
            a(href="/dashboard/admin-view-user?personelID=#{users[i]}") 
                .personel-card
                    img(src="/img/avatar/2.png", alt="avatar")
                    h1.name پرسنل شماره #{users[i]}
                    h2.name -
                    //- .time 43 ساعت
        -}
    
    include upload-log-popup
    
    script(src="/js/dashboard.js") 


